GUESS_LLAMA_IMAGE_SERVER_URL="https://openrouter.ai/api"
GUESS_LLAMA_IMAGE_SERVER_MODEL="black-forest-labs/flux.2-klein-4b"
GUESS_LLAMA_IMAGE_SERVER_API_KEY="sk-or-v1-..."
GUESS_LLAMA_LLM_SERVER="https://openrouter.ai/api"
GUESS_LLAMA_LLM_API_KEY="sk-or-v1-..."
GUESS_LLAMA_LLM_MODEL="qwen/qwen3.5-122b-a10b"
